header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 55px;
  }
  
  h1,
  h3 {
    margin: 5px;
    font-family: 'Arial';
    font-weight: 400;
    color: #ac37ac;
   
  }